@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #081018, #131111, #081a14, #071820);
	background-size: 400% 400%;
	animation: gradient 5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'DIN Neuzeit Grotesk';
  src: url('./assets/fonts/DINNeuzeitGroteskStdBdCond.otf') format('opentype');
}

@font-face {
  font-family: 'Cement';
  src: url(./assets/fonts/Cement.otf);
}

@font-face {
  font-family: 'Ankh';
  src: url(./assets/fonts/Ankh.ttf);
}

@font-face {
  font-family: 'LemonJelly';
  src: url(./assets/fonts/LemonJelly.ttf);
}

@font-face {
  font-family: "VeganStyle";
  src: url(./assets/fonts/VeganStyle.ttf);
} 

nav {
  background-color: #122;
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 10;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
  height: 10vh;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: transform 1s ease;
  font-weight: 500;
  font-family: "Titillium Web";
  font-size: 130%;
}

nav a:hover {
  color: #999;
  transform: scale(1.1);
}


#welcome {
  background-image: url("assets/images/background.jpg");
  background-size: cover; 
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  font-family: 'DIN Neuzeit Grotesk';
  color: #fff;
  padding: 10px 10px 10px 10px;
  text-shadow: 5px 5px 10px black;
  box-sizing: border-box;
}

#welcome a {
  display: inline-block; 
  padding: 10px 20px;
  margin-top: 10px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  border: 5px solid #377;
  font-size: 3vw;
  transition: transform 0.5s ease, box-shadow 0.5s ease,  background-color 2s ease;
}

#welcome a:hover {
  background-color: rgba(55, 119, 119, 0.7);
  transform: scale(0.9);
}

#smallWelcomeLink a{
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  border: 4px solid rgba(51, 119, 119, 0.555);
  font-size: 1.5vw;
  transition: transform 0.5s ease, box-shadow 0.5s ease,  background-color 2s ease;
  margin-right: 10px;
  margin-left: 10px;

}

#smallWelcomeLink a:hover {
  background-color: rgba(55, 119, 119, 0.7);
  transform: scale(1.1);
}

.appear {
  animation-name: appear;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0.6;

  }

  78% {
    opacity: 0.67;
  }

  85% {
    opacity: 0.7;
  }

  89% {
    opacity: 0.79;
  }

  90% {
    opacity: 0.85;
  }

  96% {
    opacity: 0.96;
  }

  100% {
    opacity: 1;
  }
  
}

.appearLate {
  animation-name: appearLate;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes appearLate {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }
  90% {
    opacity: 0.8;
  }

  96% {
    opacity: 0.96;
  }

  100% {
    opacity: 1;
  }
  
}

.moveLeft {
  animation-name: moveLeft;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes moveLeft {
  0% {
    transform: translateX(20vw);
    opacity: 0;
  }
  50% {
    transform: translateX(-13%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.moveRight  {
  animation-name: moveRight;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes moveRight {
  0% {
    transform: translateX(-20vw);
    opacity: 0;
  }
  
  50% {
    transform: translateX(12.5%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  
}

#about {
  display: flex;
  position: relative;
  width: 100vw;
  text-align: center;
  flex-direction: row;
  overflow: hidden;
  padding: 0% 20% 0% 7%;
  box-sizing: border-box;
  /* margin-bottom: 35vh; */
  height: 120vh;
}

#sectionHeader {
  text-align: center;
  max-height: 50px;
  color: #999;
  font-weight: 550;
  margin-top: 5vh;
  
}

#sectionHeader h1 {
  margin: 0;
  padding: 0;
  font-size: 4vw;
  font-family: "Titillium Web", serif;
  color: #999;
  font-weight: 500;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  display: inline-block;
}

#sectionHeader h1::after {
  content: '';
  position: absolute;
  left: 50px;
  bottom: 1vw;
  width: 85%;
  height: 3vw;
  max-height: 30px;
  background: #0d332a;
  z-index: -1;
  
}

.aboutSection {
  color: #f5f5f5;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  width: 40%;
  height: 50%;
  margin: auto auto;
  margin-top: 10%;
  display: inline; 
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: transform 3s, opacity 3s;
  opacity: 0.001;
  align-content: center;
  margin-bottom: 0;
}

.aboutSection img {
  height: 80%;
  width: 100%;
  display: block;
}

.aboutSection p {
  width: 100%;
  font-size: 120%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#skillsContainer {
  position: relative;
  width: auto;
  max-width: 300px;
  height: auto;
  margin: auto;
  overflow: visible;
  margin-top: 30%;
  margin-right: 20%;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: transform 3s, opacity 3s;
  opacity: 0;
  
}

#centerIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -25%);
  width: 17vw;
  height: 9vw;
  
}

.centerSkill {
  width: 17vw;
  height: 9vw;
  max-width: 150px;
}

@keyframes revolveClockWise {
  0% {
    transform:rotate(0deg) translate(10vw);
  }
  100% {
    transform: rotate(360deg) translate(10vw);
  }
}

@keyframes revolveAntiClockWise {
  0% {
    transform:rotate(0deg) translate(17vw);
  }
  100% {
    transform: rotate(-360deg) translate(17vw);


  }
}

#middleCircle{
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  
}

.middleIcon {
  position: absolute;
  width: 10vw;
  height: 5vw;
  animation: revolveClockWise 20s linear infinite ;
  animation-timing-function: linear;
  animation-play-state: running;
  transition: transform 0.3s ease;
  transform: none;

}

#outerCircle {
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
}

.outerIcon {
  position: absolute;
  width: 12vw;
  height: 6vw;
  animation: revolveAntiClockWise 30s linear infinite;
  animation-timing-function: linear;
  transition: 3s;

}

#skillCard {
  position: absolute;
  text-align: center;
  background: linear-gradient(145deg, #0d332a, #13433a);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5%;
  width: 12vw;
  border: 2px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 70%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #d1f5e0;
  z-index: 10000000000000000000000;
  overflow: visible;
}

.appearSkillCard {
  animation-name: appearCard;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes appearCard {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.6;
  }
  78% {
    opacity: 0.67;
  }
  85% {
    opacity: 0.7;
  }
  89% {
    opacity: 0.79;
  }
  90% {
    opacity: 0.85;
  }
  96% {
    opacity: 0.96;
  }
  100% {
    opacity: 1;
  }
}

#connects {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5vw;
  width: 100%;
  text-align: center;
  flex-direction: column;
  gap: 15vh;
  margin: 0px auto;
  scroll-margin-top: 20vh;
  text-align: center;
  align-items: center;
}

.connect {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 5vh;
  border-radius: 10px;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: transform 3s ease, opacity 3s, box-shadow 1s ease;
  opacity: 0;
}

.connect:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
  transition: transform 1s ease, box-shadow 1s ease;
}
.connect:first-child {
  margin-top: 0;
}

.connect img {
  width: 95%;
  height: 50vh;
}

.connect[align="left"] {
  margin-right: 40%;
  margin-left: 10%;
}

.connect[align="right"] {
  margin-left: 40%;
  margin-right: 10%;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  width: 100%;
  text-align: center;
  flex-direction: column;
  gap: 15vh;
  margin: 0px auto;
  border: none;
  height:auto;
  scroll-margin-top: 20vh;
  margin-bottom: 30vh;
}

.project {
  padding: 5%;
  margin: 10px;
  border: none;
  border-radius: 10px;
  width: 60%;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  text-align: center;
  color: whitesmoke;
  align-items: center;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: transform 3s, opacity 3s;
  opacity: 0;
  height: fit;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.project[align="left"] {
  margin-right: 40%;
  margin-left: 10%;
}

.project[align="right"] {
  margin-left: 40%;
  margin-right: 10%;
}

.project img {
  max-width: 100%;
  border-radius: 10px;
}

.project a {
  text-decoration: none;
  color: inherit; 
  background-color: #266;
  padding: 3px 5px;
  margin: 10px;
  font-family: 'DIN Neuzeit Grotesk';
  border-radius: 5px;
  font-size: 90%;
  transition: transform 1s ease;
  display: inline-block;
}

.project a:hover {
  background-color: #377;
  transform: scale(1.1);
}


.project h2{
  font: 'DIN Neuzeit Grotesk'; 
  margin: 0;
}

#projectSkill {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 0;

}

#projectSkill img {
  height: 5vh;
  width: 5vw;
  margin: auto;
}

footer {
  text-align: center;
  background-color: #266;
  color: #fff;
  padding: 20px;
  width: 100vw;
  margin-top: 20px;
}

@media (max-width: 730px){

  #welcome {
    font-size: 27px
  }
  
  #welcome a {
    font-size: 27px;
    padding: 5px 10px;
    border: 4px solid #377;
  }

  #smallWelcomeLink a {
    font-size: 15px;
    border: 2px solid rgba(51, 119, 119, 0.555);
    padding: 5px 10px;
  }

  nav ul {
    width: 100%;
  }

  #sectionHeader h1{
    font-size: 150%;
  }

  #sectionHeader h1::after {
    content: '';
    position: absolute;
    left: 5vw;
    bottom: 1vh;
    width: 85%;
    height: 1vh;
    background: #122;
    z-index: -1;
    max-height: 20px;
    
  }

  #about {
      flex-direction: column;
      height: 140vh;
      scroll-margin-top: 10vh;
      margin-bottom:  0vh;
      align-items: center;
      padding-right: 0;
  }

  .aboutSection {
    width: 100%; 
    margin: 0 0 35vh 0;
    height: auto;
    font-weight: 500;
    font-size: 80%;
    line-height: 1.2;
    display: block;
    max-width: 350px;
  }

  .aboutSection img {
    width: 80%;
    max-width: 200px;
    display: block;
    margin: 0 auto 5%;
}

  .aboutSection p {
    width: 100%;
    min-width: 200px;
    display: block;
    margin: 0 auto;
  }

  #skillsContainer {
    margin: 0 auto;
    height: auto;
    margin-right: 55%;
    margin-top: 5vh;
  }

  #centerIcon {
    width: 20vw;
    height: 15vw;
    transform: translate(-25%, -25%);
  }

  .centerSkill {
    width: 80%;
    height: 90%;
  }

  .middleIcon {
    width: 12vw;
    height: 8vw;

  }

  .outerIcon {
    width: 14vw;
    height: 10vw;
    
  }

  #skillCard {
    width: 50vw;
  }

  #projects {
      width: 100%;
      padding: 10px;
      margin-top: 0;
      margin-bottom: 0;
  }

  .project {
    width: 100%;
  }
  
  .project[align="right"], .project[align="left"] {
    margin-left: 0;
    margin-right: 0;
  }

  #connects {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    scroll-margin-top: 20vh;
  }
  
  .connect {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;  
    margin-top: 0;
    margin-bottom: 10vh;
  }
  

  .connect img {
    width: 70%;
    height: 50vh;
  }
  
  .connect[align="left"] {
    margin-right: 0;
    margin-left: 0;
  }
  
  .connect[align="right"] {
    margin-left: 0;
    margin-right: 0;
  }



  footer {
      padding: 10px;
      font-size: 80%;
  }

}

@media (min-width: 1600px) {
  #welcome {
    font-size: 40px;
    font-size: 400%;

  }

  #welcome a {
    font-size: 95%;
    
  }

  #smallWelcomeLink a{
    font-size: 50%;
  }

  #sectionHeader h1{
    font-size: 350%;
  }

  #sectionHeader h1::after {
    bottom: 0.7vw;
    height: 3vw;
  }

  nav {
    height: 5vh;
  }
  #about { 
    padding-left: 10vw;
    margin-bottom: 0;
  }

  .aboutSection {
    font-size: 140%;
    line-height: 1.5;
    max-width: 700px;
  }

  .aboutSection img {
    height: 85%;
    max-width: 300px;
    max-height: 300px;
  }
  .aboutSection p {
    width: 100%;
    max-width: 500px;
  }
  #centerIcon {
    transform: translate(-20%, -25%);
  }
  
}